apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: wgxn
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-etqs-tenant/byoc-app-vceu/wgxn@sha256:d727f09788fa66e55584d4590860e691d748403e5bc8e97eb5f02e25b61d3dd6
        name: my-java-quarkus
        resources: {}
status: {}
