apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: wgxn
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: wgxn
    app.kubernetes.io/part-of: byoc-app-vceu
  name: wgxn
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: wgxn
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: wgxn
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-etqs-tenant/byoc-app-vceu/wgxn@sha256:d727f09788fa66e55584d4590860e691d748403e5bc8e97eb5f02e25b61d3dd6
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
